.sprint_board {
  form {
    padding: 0 10px;
  }
  .sprint-select {
    float: right;
    margin-right: 20px;
    width: 220px;
  }
  .sprint-board-buttons {
    float: right;
    margin-bottom: 20px;
  }
  .tree-icon {
    display: none;
  }
  .sprit-board-tree-grid {
    min-height: 400px;
    max-height: 800px;
  }
  .sprit-board-tree-pagination {
    margin-top: 20px;
    text-align: center;
  }
}
