.index {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  .main-header {
    color: #fff;
    line-height: 50px;
    height: 50px;
    display: flex;
    order: 0;
    z-index: 2;
    box-shadow: 0 0 11px rgba(0,0,0,0.13);
    .main-title {
      background: #404E67;
      font-size: 20px;
      text-align: center;
      overflow: hidden;
      display: flex;

      .app-logo {
        width: 24px;
        height: 24px;
        color: #fff;
        margin: 13px;
      }
    }

    .main-bar {
      background: #fff;
      flex: 1;
      display: flex;
      align-items: center;
      justify-items: center;

      .bar-btn {
        position: relative;
        cursor: pointer;
        padding: 7px;
        margin: 10px;
        color: #404E67;
      }

      .right-bar-btn {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        .user-avatar{
          border-radius: 2px;
          margin-right: 5px;
        }
      }
    }
  }

  .main-layout {
    flex: 1;
    display: flex;

    .sidebar-body {
      background: #404E67;
      padding: 5px;
    }

    .main-body {
      flex: 1;
      background: #ecf0f5;
      overflow-x: hidden;
      padding: 10px;
    }
  }

}
.header-dropdown-panel{
  width: 150px;
  .el-dropdown-menu__item i{
    margin-right: 10px;
  }
}

.sidemenu .accordion .panel-title {
  color: #dcdcdc;
}

.sidemenu .accordion .accordion-header {
  background: #404E67;
  color: #dcdcdc;
  padding: 8px 15px;
}

.sidemenu .accordion .accordion-body {
  background: #404E67;
  color: #dcdcdc;
  border-color: #404E67;
}

.sidemenu .accordion .accordion-header-selected {
  background: #404E67;
}

.sidemenu .tree-node-hover {
  background: #404E67;
  color: #fff;
  cursor: pointer;
}

.sidemenu .tree-node-selected {
  background: #404E67;
  color: #39c;
  border-left:none;
  position: relative;
}
.sidemenu .tree-node-selected::before{
  content: '';
  position: absolute;
  width: 3px;
  top:8px;
  bottom: 8px;
  background: #39c;
}


.sidemenu .accordion-header .panel-tool {
  display: none;
}
.sidemenu .tree{
  overflow: hidden;
}
.sidemenu .accordion-header::after,
.sidemenu .tree-node-nonleaf::after {
  display: inline-block;
  vertical-align: top;
  border-style: solid;
  transform: rotate(45deg);
  width: 4px;
  height: 4px;
  content: '';
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -3px;
  border-width: 0 1px 1px 0;
}

.sidemenu .accordion-header-selected::after {
  transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf::after {
  transform: rotate(-135deg);
}

.sidemenu .tree-node-nonleaf-collapsed::after {
  transform: rotate(45deg);
}

.sidemenu-collapsed .accordion-header::after {
  display: none;
}
.sidemenu-tooltip .accordion {
  border-color: #1e282c;
  border: none;
  .panel-title{
    line-height: 1.5;
    border-bottom: 1px solid rgba(0,0,0,0.25);
  }
}
.sidemenu .tree-file{
  background: none;
}